.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
Thumbs.db
public/publication/2021-07-06-elevated-police-turnover-following-the-summer-of-george-floyd-protests-a-synthetic-control-study/featured_hu624da4a71ff4e906c9d6f5107a4d83f1_248451_720x0_resize_q75_lanczos.jpg
public/publication/2021-07-06-elevated-police-turnover/featured_hu624da4a71ff4e906c9d6f5107a4d83f1_248451_720x0_resize_q75_lanczos.jpg
public/publication/covid-19-vaccine-infection-rate-police/featured_huc481276552365ce4ad34e266c5e05428_39827_720x0_resize_q75_lanczos.JPG
public/publication/covid-19-vaccine-infection-rate-police/featured_huc481276552365ce4ad34e266c5e05428_67506_720x0_resize_q75_lanczos.JPG
public/publication/police-body-worn-cameras-effects-on-officers-burnout-and-perceived-organizational-support/featured_huc481276552365ce4ad34e266c5e05428_48044_720x0_resize_q75_lanczos.jpg
public/publication/preprint/featured_hu559a5add5185b02575aa8333502ab2cc_220813_150x0_resize_q1_lanczos.jpg
public/publication/preprint/featured_hu559a5add5185b02575aa8333502ab2cc_220813_150x0_resize_q75_lanczos.jpg
public/publication/preprint/featured_hu559a5add5185b02575aa8333502ab2cc_220813_720x0_resize_q75_lanczos.jpg
resources/_gen/images/publication/2021-01-11-mandatory-sexual-assault-kit-testing-policies-and-arrest-trends-a-natural-experiment/featured_hu2d649a4b413afed70bfd84d21b3f34d0_222171_720x0_resize_q75_lanczos.jpg
public/publication/2021-07-06-elevated-police-turnover-following-the-summer-of-george-floyd-protests-a-synthetic-control-study/featured_hu624da4a71ff4e906c9d6f5107a4d83f1_248451_720x0_resize_q75_lanczos.jpg
resources/_gen/images/publication/2021-01-11-mandatory-sexual-assault-kit-testing-policies-and-arrest-trends-a-natural-experiment/featured_hu2d649a4b413afed70bfd84d21b3f34d0_222171_720x0_resize_q75_lanczos.jpg

# AI News Aggregator
data/ai-police-news/logs/
data/ai-police-news/stories/
data/ai-police-news/*.db

# K9 Incidents Aggregator
data/k9-incidents/logs/
data/k9-incidents/stories/
data/k9-incidents/*.db
